* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
font-size: 50px;
color: black;
background-color: antiquewhite;
margin: 0 300px;
padding: 10px;

}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.animation {
    background-color: antiquewhite;
    margin: 0 300px;
    height: 500px;
    border:1px solid black;
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
    font-size: 30px;
    text-align: center;
    color: black;

}

.animation1 {
    background-color: antiquewhite;
    margin: 0 300px;
    height: 500px;
    border:1px solid black;
    opacity: 0;
    transform: translateX(300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
    font-size: 30px;
    text-align: center;
    color: black;
}

.animation2 {
    background-color: antiquewhite;
    margin: 0 300px;
    height: 500px;
    border:1px solid black;
    opacity: 0;
    transform: translateY(300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
    font-size: 30px;
    text-align: center;
    color: black;

}

.animation3 {
    background-color: antiquewhite;
    margin: 0 300px;
    height: 500px;
    border:1px solid black;
    opacity: 0;
    transform: translateX(300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
    font-size: 30px;
    text-align: center;
    color: black;
}

.animation4 {
    background-color: antiquewhite;
    margin: 0 300px;
    height: 500px;
    border:1px solid black;
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
    font-size: 30px;
    text-align: center;
    color: black;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}